@model DSP.Core.DTO.LicensesDTO
@if(ViewBag.ErroMessage != null)
{
    <div class="alert alert-danger" style="margin-top:20px">
        @ViewBag.ErroMessage
    </div>
}
@if(ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewBag.SuccessMessage
    </div>
}
@{var sn = 1; }
<form asp-controller="Admin" asp-action="CreateLicense" method="post" enctype="multipart/form-data">
    <div class="input-group">

        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01" accept=".csv,.txt"/> 
            <label class="custom-file-label" for="inputGroupFile01">Choose File</label>
        </div>

        <div class="input-group-prepend">
            <button type="submit" class="btn btn-primary">Upload File</button>
        </div>
    </div>
    <span id="fileNameLister"></span>
</form>
<hr />
<div class="row">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">License</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th>Admin</th>
                <th>12</th>
            </tr>
            @foreach (var l in Model.Licenses)
            { 
                <tr>
                    <th scope="row">@sn</th>
                    <th>@l.Type</th>
                    <th>@l.License</th>
                </tr>
                sn++;
            }
        </tbody>
    </table>
</div>

<script>
document.getElementById('inputGroupFile01').onchange = function () {
    document.getElementById("fileNameLister").innerText = this.value;
};
</script>